<div class="contido-menu">
  <ul>
    <li><a tabindex="-1" routerLink="estadisticas" routerLinkActive="activo" (click)="onFecharMenu()">Estadísticas</a></li>
    <li><a tabindex="-1" routerLink="livros" routerLinkActive="activo" (click)="onFecharMenu()">Livros</a></li>
    <li><a tabindex="-1" routerLink="autores" routerLinkActive="activo" (click)="onFecharMenu()">Autores</a></li>
    <li><a tabindex="-1" routerLink="editoriais" routerLinkActive="activo" (click)="onFecharMenu()">Editoriais</a></li>
    <li><a tabindex="-1" routerLink="generos" routerLinkActive="activo" (click)="onFecharMenu()">Generos</a></li>
    <li><a tabindex="-1" routerLink="bibliotecas" routerLinkActive="activo" (click)="onFecharMenu()">Bibliotecas</a></li>
    <li><a tabindex="-1" routerLink="colecons" routerLinkActive="activo" (click)="onFecharMenu()">Coleçons</a></li>
    <li><a tabindex="-1" routerLink="estilos-literarios" routerLinkActive="activo" (click)="onFecharMenu()">Estilos Literarios</a></li>
  </ul>
</div>
