<mat-sidenav-container fxFlex="noshrink" class="layout">

  <!-- este é o menú da versom pequena -->
  <mat-sidenav #panelMenuLayout mode="side">
    <omla-menu></omla-menu>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="contedor">
      <omla-header class="contedor__cabezalho"></omla-header>
      <omla-menu class="contedor__menu"></omla-menu>
      <omla-pe class="pe-emergente"></omla-pe>
      <div class="contedor__contido">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
