
<div class="estrelas">
  <div class="bloco-estrelas">
    <div class="enteiros">
      <div *ngFor="let estrela of estrelas" class="estrela">
        <omla-estrela
          [numero]="estrela.numero"
          (simulacomEvent)="onSimulacom($event)"
          (estavelecerPontuacomEvent)="onEstavelecerPontuacom($event)"
          [simulandoPontuacom]="estrelaSimulando"
          [estavelecerNonovaPontuacom]="novaPontuacom"></omla-estrela>
      </div>
    </div>
    <div class="decimais">
      <div *ngFor="let estrela of estrelasMedias" class="estrela">
        <omla-estrela
          [numero]="estrela.numero"
          (simulacomEvent)="onSimulacom($event)"
          (estavelecerPontuacomEvent)="onEstavelecerPontuacom($event)"
          [simulandoPontuacom]="estrelaSimulando"
          [estavelecerNonovaPontuacom]="novaPontuacom"></omla-estrela>
      </div>
    </div>

  </div>
  <div class="bloco-numero">
    {{numeroActual}}
  </div>
</div>
