<div class="estrelas">
  <div class="bloco-estrelas">
    @for (estrela of estrelas(); track estrela.numero) {
      <div class="estrela" [class.estrelaEnteira]="estrela.numero % 1 === 0"
                           [class.estrelaDecimal]="estrela.numero % 1 !== 0">
        <omla-estrela
          [numero]="estrela.numero"
          (simulacomEvent)="onSimulacom($event)"
          (estavelecerPontuacomEvent)="onEstavelecerPontuacom($event)"
          [simulandoPontuacom]="estrelaSimulando()"
          [estavelecerNovaPontuacom]="novaPontuacom()">
        </omla-estrela>
      </div>
    }
  </div>
  <div class="bloco-numero">
    {{ numeroActual() }}
  </div>
</div>

