@if (livros.length > 0) {
  <h3>Listado de livros</h3>
  <table>
    <tr>
      <th>Titulo</th>
      <th>TituloOriginal</th>
      <th>Lido</th>
      <th>Autor</th>
    </tr>
    @for (entrada of livros; track entrada.id) {
      <tr class="listado-accom">
        <td (click)="navegar.emit(entrada.id)">{{entrada.titulo}}</td>
        <td (click)="navegar.emit(entrada.id)">{{entrada.tituloOriginal}}</td>
        <td>{{entrada.lido ? 'Si' : 'Nom'}}</td>
        <td>{{entrada.nomeAutor}}</td>
      </tr>
    }
  </table>
}
