
<form [formGroup]="formuario" (ngSubmit)="onSubmit($event)">
  @if (modo() === estadosPagina.engadir || modo() === estadosPagina.guardar) {
    <button color="primary" type="submit" value="{{modo()}}">
      <i class="icon-disk"></i> {{modo()}}
    </button>
    <button color="primary" type="button" (click)="onCancelar()">
      <i class="icon-disk"></i> Retroceder
    </button>
  }
  <div class="formulario-dados">
    <mat-form-field [style.width.px]=500>
      <mat-label>Nome:</mat-label>
      <input matInput [formControl]="formuario.get('nome')" width="200">
      @if (formuario.get('nome')?.hasError('maxlength')) {
        <mat-error>
          A longitude nom debe superar os 150 caracteres
        </mat-error>
      }
      @if (formuario.get('nome')?.hasError('required')) {
        <mat-error>
          O Nome é obrigatorio
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field [style.width.px]=500>
      <mat-label>Direiçom:</mat-label>
      <input matInput [formControl]="formuario.get('direicom')">
      @if (formuario.get('direicom')?.hasError('maxlength')) {
        <mat-error>
          A longitude nom debe superar os 150 caracteres
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field [style.width.px]=500>
      <mat-label>web:</mat-label>
      <input matInput [formControl]="formuario.get('web')">
      @if (formuario.get('web')?.hasError('maxlength')) {
        <mat-error>
          A longitude nom debe superar os 100 caracteres
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field [style.width.px]=500>
      <mat-label>Comentario:</mat-label>
      <textarea matInput [formControl]="formuario.get('comentario')" rows="4"></textarea>
      @if (formuario.get('comentario')?.hasError('maxlength')) {
        <mat-error>
          A longitude nom debe superar os 5000 caracteres
        </mat-error>
      }
    </mat-form-field>
  </div>
</form>

@if (temLivros()) {
  <h3>Listado de livros</h3>
  <table>
    <tr>
      <th>Titulo</th>
      <th>TituloOriginal</th>
      <th>Autor</th>
    </tr>
    @for (entrada of livrosDoElemento(); track entrada.id) {
      <tr class="listado-accom">
        <td (click)="onIrPagina('/livros/livro', entrada.id)">{{entrada.titulo}}</td>
        <td (click)="onIrPagina('/livros/livro', entrada.id)">{{entrada.tituloOriginal}}</td>
        <td class="lista-com-comas">
          <ul>
            @for (autor of entrada.autores; track autor.id) {
              <li (click)="onIrPagina('/autores/autor', autor.id)">{{autor.nome}}</li>
            }
          </ul>
        </td>
      </tr>
    }
  </table>
}
