<omla-livro-form-presenter
  [livroForm]="livroForm"
  [modo]="modo()"
  [modoRelectura]="modoRelectura()"
  [idLivro]="idLivro"
  [pontuacomEstrelas]="pontuacomEstrelas"
  [autoresLivro]="autoresLivro()"
  [generosLivro]="generosLivro()"
  (submitForm)="onSubmit($event)"
  (novaRelectura)="onGestomNovaRelectura()"
  (cancelarRelectura)="onCancelarNovaRelectura()"
  (pontuacaoAlterada)="onNovaPontuacom($event)"
  (somSerieAlterado)="onSomSerie($event)"

  (gestionarAutores)="onGestomMulti(multiGestom.autores)"
  (engadirAutor)="onIrPaginaEngadirAutor('/autores/autor', dadosComplentarios.Autor)"
  (navegarAutor)="onIrPaginaAutor('/autores/autor', $event)"

  (gestionarGeneros)="onGestomMulti(multiGestom.generos)"
  (engadirGenero)="onIrPaginaEngadir('/generos/genero', dadosComplentarios.Genero)"
  (navegarGenero)="onIrPagina('/generos/genero', $event)"

  (engadirComplementario)="onEngadirComplementario($event)"
  (editarBiblioteca)="onIrPaginaBiblioteca()"
  (editarEditorial)="onIrPaginaEditorial()"
  (editarColecom)="onIrPaginaColecom()"
  (editarEstilo)="onIrPaginaEstilo()" />

<omla-livro-relecturas
  [relecturas]="dadosRelecturas()"
  [mostrar]="!modoRelectura()"
  (editarRelectura)="onEditarRelectura($event)"
  (borrar)="onBorrarRelectura($event)" />
