{{ estaCarregando() ? 'Carregando...' : (livros()?.length ?? 0) + ' livros' }}
@if (livros() && (livros()?.length ?? 0) > 0) {
  <h3>Listado de livros</h3>
  <table>
    <tr>
      <th>Titulo</th>
      <th>TituloOriginal</th>
      <th>Lido</th>
      @if (mostrarAutor()) {
        <th>Autor</th>
      }
    </tr>
    @for (entrada of livros(); track entrada.id) {
      <tr>
        <td (click)="navegarLivro.emit(entrada.id)" class="listado-accom">{{entrada.titulo}}</td>
        <td (click)="navegarLivro.emit(entrada.id)" class="listado-accom">{{entrada.tituloOriginal}}</td>
        <td>{{entrada.lido ? 'Si' : 'Nom'}}</td>
        @if (mostrarAutor()) {
          <td (click)="navegarAutor.emit(entrada.idAutor)" class="listado-accom">{{entrada.nomeAutor}}</td>
        }
      </tr>
    }
  </table>
}
