@use "comuns";
@use "constantes";
@use "controis";

html, body {
  margin: 0px;
  background-color: constantes.$cor-fundo;
}

html, body { overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
