
@import "/src/assets/styles/comuns.scss";
@import "/src/assets/styles/controis.scss";

html, body {
  margin: 0px;
}

html, body { overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

