// meto a rota do arquivo no stylePreprocessorOptions para nom ter que ponher o caminho completo

$altura-cabezalho: 50px;

$ancho-menu: 130px;
$cor-fundo: #8a8a8a;
$cor-fundo-clara: #D3CFF8;
$cor-botom: #0e8210;
$cor-fundo-barra-scroll: #114c23;
$cor-barra-scroll: #70c284;
