<span id="subMenu"></span>
<div class="sub-menu">
  <a (click)="scrollAoElemento('subMenu')">Idiomas</a>
  <a (click)="scrollAoElemento('taboaAnos')">Anos</a>
  <a (click)="scrollAoElemento('taboaGenero')">Géneros</a>
</div>

<div class="contido-taboas">
  <table *ngIf="this.resultadoIdiomas.length > 0">
    <tr>
      <th>Idioma</th>
      <th>Quantidade</th>
      <th>Páginas</th>
    </tr>
    <tr *ngFor="let entrada of this.resultadoIdiomas; last as isLast" class="listado-accom">
      <td (click)="onGoListadoLivros('/livros', tipos.Idioma, entrada.id)">{{entrada.nome}}<span *ngIf="isLast" id="taboaAnos"></span></td>
      <!-- <td><a routerLink="/listadoLivros">{{entrada.nome}}</a></td> -->
      <td (click)="onGoListadoLivros('/livros', tipos.Idioma, entrada.id)">{{entrada.quantidade}}</td>
      <td (click)="onGoListadoLivros('/livros', tipos.Idioma, entrada.id)" class="paginas">{{entrada.quantidadePaginas}}</td>
    </tr>
  </table>

  <table *ngIf="this.resultadoAnos.length > 0">
    <tr>
      <th (click)="setOrdeAnos()">
        <div style="display: flex;">
          Ano
          <omla-orde-coluna
            [nome]="this.ordeAnos"
            [actual]="this.tipoOrdeacomAnos"
            [inverso]="this.inversoAnos"></omla-orde-coluna>
        </div>
      </th>
      <th (click)="setOrdeQuantidadeAnos()">
        <div style="display: flex;">
          Quantidade
          <omla-orde-coluna
            [nome]="this.ordeQuantidadeAnos"
            [actual]="this.tipoOrdeacomAnos"
            [inverso]="this.inversoAnos"></omla-orde-coluna>
        </div>
      </th>
      <th (click)="setOrdePaginasAnos()">
        <div style="display: flex;">
          Páginas
          <omla-orde-coluna
            [nome]="this.ordePaginasAnos"
            [actual]="this.tipoOrdeacomAnos"
            [inverso]="this.inversoAnos"></omla-orde-coluna>
        </div>
      </th>
    </tr>
    <tr *ngFor="let entrada of this.resultadoAnos; last as isLast" class="listado-accom">
      <td (click)="onGoListadoLivros('/livros', tipos.Ano, entrada.id)">{{entrada.nome}}<span *ngIf="isLast" id="taboaGenero"></span></td>
      <td (click)="onGoListadoLivros('/livros', tipos.Ano, entrada.id)">{{entrada.quantidade}}</td>
      <td (click)="onGoListadoLivros('/livros', tipos.Idioma, entrada.id)" class="paginas">{{entrada.quantidadePaginas}}</td>
    </tr>
  </table>

  <table *ngIf="this.resultadoGeneros.length > 0">
    <tr>
      <th>Género</th>
      <th (click)="setOrdeQuantidadeGeneros()">
        <div style="display: flex;">
          Quantidade
          <omla-orde-coluna
            [nome]="this.ordeQuantidadeGeneros"
            [actual]="this.tipoOrdeacomGeneros"
            [inverso]="this.inversoGeneros"></omla-orde-coluna>
        </div>
      </th>
      <th (click)="setOrdePaginasGeneros()">
        <div style="display: flex;">
          Páginas
          <omla-orde-coluna
            [nome]="this.ordePaginasGeneros"
            [actual]="this.tipoOrdeacomGeneros"
            [inverso]="this.inversoGeneros"></omla-orde-coluna>
        </div>
      </th>
    </tr>
    <tr *ngFor="let entrada of this.resultadoGeneros" class="listado-accom">
      <td (click)="onGoListadoLivros('/livros', tipos.Genero, entrada.id)">{{entrada.nome}}</td>
      <td (click)="onGoListadoLivros('/livros', tipos.Genero, entrada.id)">{{entrada.quantidade}}</td>
      <td (click)="onGoListadoLivros('/livros', tipos.Idioma, entrada.id)" class="paginas">{{entrada.quantidadePaginas}}</td>
    </tr>
  </table>
</div>
