<h3>Listado por {{tipo() === tipos.porNacionalidade ? 'Nacionalidade' : 'Pais'}}</h3>

{{ listadoDados.isLoading() ? 'Carregando' : listadoDados.value()?.length + ' elementos' }}
@if (listadoDados.hasValue()) {
  <table class="taboas-listado">
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
    </tr>
    @for (entrada of listadoDados.value(); track entrada.id) {
      <tr class="listado-accom">
        <td (click)="onIrPagina('autores', entrada.id)">{{entrada.nome || '---'}}</td>
        <td (click)="onIrPagina('autores', entrada.id)">{{entrada.quantidadeAutores}}</td>
      </tr>
    }
  </table>
}
