<h3>Listado de Géneros{{this.tipoOrdeacom}}
  <span *ngIf="this.inverso"> inverso</span>
</h3>

@if (!soVisualizar) {
  <button class="botom-novo-resgistro" (click)="onIrPagina('/generos/genero', '0')">
    Novo Género
  </button>
}
<h1 *ngIf="tipoListado.length > 0">Listado {{this.tipoListado}}</h1>

<table *ngIf="this.listadoDados.length > 0" class="taboas-listado">
  <tr>
    <th (click)="ordeAlfabetico()">Nome<omla-orde-coluna
      [nome]="this.nomeAlfabetico"
      [actual]="this.tipoOrdeacom"
      [inverso]="this.inverso"></omla-orde-coluna></th>
    <th (click)="ordeNumeroLivros()">Livros<omla-orde-coluna
      [nome]="this.numeroLivros"
      [actual]="this.tipoOrdeacom"
      [inverso]="this.inverso"></omla-orde-coluna></th>
    <th (click)="ordeNumeroLivrosLidos()">Lidos<omla-orde-coluna
      [nome]="this.numeroLivrosLidos"
      [actual]="this.tipoOrdeacom"
      [inverso]="this.inverso"></omla-orde-coluna></th>
  </tr>
  <tr *ngFor="let entrada of this.listadoDados" class="listado-accom">
    <td (click)="onIrPagina('/generos/genero', entrada.id)">{{entrada.nome}}</td>
    <td (click)="onIrPagina('/generos/genero', entrada.id)">{{entrada.quantidadeLivros}}</td>
    <td (click)="onIrPagina('/generos/genero', entrada.id)">{{entrada.quantidadeLidos || '0'}}</td>
    <td (click)="onBorrarElemento(entrada.id, entrada.nome, entrada.quantidadeLivros)">
      <img src="../../../../assets/images/cubo-lixo.png" alt="Borrar">
    </td>
  </tr>
</table>
