
<form [formGroup]="estiloLiterarioForm" (ngSubmit)="onSubmit($event)">
  <button color="primary" type="submit" value="{{this.modo}}">
    <i class="icon-disk"></i> {{this.modo}}
  </button>
  <button color="primary" type="button" (click)="onCancelar()">
    <i class="icon-disk"></i> Retroceder
  </button>
  <div class="formulario-dados dados-estilos">
    <div>
      <mat-form-field [style.width.px]=500>
        <mat-label>Nome:</mat-label>
        <input matInput [formControl]="gf.nome" width="200">
        <mat-error *ngIf="gf.nome.hasError('maxlength')">
          A longitude nom debe superar os 150 caracteres
        </mat-error>
        <mat-error *ngIf="gf.nome.hasError('required')">
          O Nome é obrigatorio
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="comentario-ancho">
        <mat-label>Comentario:</mat-label>
        <textarea matInput [formControl]="gf.comentario" rows="7"></textarea>
        <mat-error *ngIf="gf.comentario.hasError('maxlength')">
          A longitude nom debe superar os 50000 caracteres
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>

<h3 *ngIf="dadosLivrosDoEstiloLiterario.length > 0">Listado de livros</h3>

<table *ngIf="this.dadosLivrosDoEstiloLiterario.length > 0">
  <tr>
    <th>Titulo</th>
    <th>TituloOriginal</th>
    <th>Autor</th>
  </tr>
  <tr *ngFor="let entrada of this.dadosLivrosDoEstiloLiterario" class="listado-accom">
    <td (click)="onIrPagina('/livros/livro', entrada.id)">{{entrada.titulo}}</td>
    <td (click)="onIrPagina('/livros/livro', entrada.id)">{{entrada.tituloOriginal}}</td>
    <td class="lista-com-comas">
      <ul>
        <li *ngFor="let autor of entrada.autores" (click)="onIrPagina('/autores/autor', autor.id)">{{autor.nome}}</li>
      </ul>
    </td>
  </tr>
</table>
